<mat-toolbar color="primary" class="app-header">
    <button mat-button [matMenuTriggerFor]="menu">Application</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="master">--  Master --</button>
      <button mat-menu-item>Accouts</button>
    </mat-menu>
    <mat-menu #master="matMenu">
      <!-- <button mat-menu-item routerLink="/user-manage">User</button> -->
      <button mat-menu-item [matMenuTriggerFor]="itemMaster">Test Master</button>
    </mat-menu>
    <mat-menu #itemMaster="matMenu">
      <button mat-menu-item routerLink="/test-master">Test Entry</button>
      <button mat-menu-item routerLink="/test-category">Test Category Entry</button>
    </mat-menu>
    </mat-toolbar>
